/* GENERAL ELEMENT STYLES */
* {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  background: #fff;
  font-family: "Libertinus Serif", serif;
  font-weight: 400;
}

h1, h2, h3, h5 {
    font-family: "Red Hat Display", sans-serif;
}

h1 {
    font-size: 7rem;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 2rem;
    text-align: left;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 24px;
    text-align: left;
    line-height: 1.5;
}

.hyperlink {
    color: #81C91D;
    text-decoration: none;
    transition: 0.3s;
}

.hyperlink:hover {
    color: #588A13;
}

.container {
  width: 80%;
  margin: 0px auto;
  position: relative;
} /* ensures content stays 20% away from left of screen */

.button {
    background-color: #15AAC0;
    border: none;
    color: #fff;
    padding: 15px 32px;
    margin: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: #0E7080;
}



/* JQUERY STYLES */
.fadein {
    display: none;
}



/* HEADER AND FOOTER STYLES */
header {
  background-color: #15AAC0;
  padding: 5px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

header::after {
    content: "";
    display: table;
    clear: both;
} /* prevents header background from disappearing */

footer {
    background-color: #495057;
    padding: 5px;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.home-nav {
    background-color: transparent;
    position: absolute;
}

.h-box-left {
    float: left;
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
}

.h-box-right {
    float: right;
}

.h-box-right > li {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    vertical-align: middle;
}

.f-box-left {
    float: left;
}

.f-box-left > li {
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    vertical-align: middle;
}

.f-box-right {
    float: right;
    color: #eee;
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
}

.menu-item-white {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.menu-item-white:hover {
    color: #0E7080;
}

.green:hover {
    color: #81C91D;
}

.menu-item-black {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.menu-item-black:hover {
    color: #15AAC0;
}

.link-title {
    text-decoration: none;
    color: #fff;
}



/* MAIN SECTION STYLES */
main {
  text-align: center;
  padding-top: 50px;
}

.flex-overflow {
    display:inline-flex;
}



/* HOME PAGE STYLES */
#welcome {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#connect-button {
    margin-top: 60px;
}

#home-bg {
    /* background-image: url("../img/harmony-bg.jpg"); */
    background-color: #fff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ABOUT AND PROJECT PAGES */
#top-img {
    width: 500px;
    margin-bottom: 40px;
    padding: 0 100px;
}

#bottom-img {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text-content {
    display: inline-block;
    margin-left: 50%;
    margin-top: 75px;
    margin-bottom: 50px;
    transform: translate(-50%,0%);
}

#grid-content {
    margin-top: 80px;
    margin-bottom: 45px;
}

.row > li {
    display: inline-block;
    padding: 20px;
    margin: 20px 20px 0px 20px;
    text-decoration: none;
    vertical-align: middle;
}

.row > li > a {
    text-decoration: none;
}

.row > li > a > h3 {
    margin-top: 15px;
}

.grid-img {
    width: 400px;
}

.project-button {
    margin: 35px 0;
}

figcaption {
    margin-top: 8px;
}



/* RESPONDIVE QUERIES */
@media only screen and (max-width: 850px) {
    nav {
        text-align: center;
    }

    .h-box-left, .h-box-right, .f-box-left, .f-box-right {
        float: none;
    }

    #title {
        font-size: 5rem;
    }

    #subtitle {
        font-size: 1.5rem;
    }

    #grid-content {
        margin-top: 150px;
    }

    #top-img {
        width: 400px;
        margin-top: 75px;
        padding: 0 65px;
    }

    #bottom-img {
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    #title {
        font-size: 4rem;
    }

    #subtitle {
        font-size: 1rem;
    }

    .grid-img {
        width: 300px;
    }

    #top-img {
        width: 300px;
        padding: 0 50px;
    }

    #bottom-img {
        width: 300px;
    }
}